Django>=5.1
django-allauth==65.3.1
django-binary-database-files>=1
dj_database_url
Pillow>=11.1
psycopg[binary,pool]
pyreadline3; sys_platform == 'win32'
gunicorn>=23; sys_platform == "linux"
waitress>=3.0; sys_platform == 'win32'
whitenoise>=6.8.2