{% extends "bidding/base.html" %}

{% block title %}Užsakymų Sąrašas{% endblock %}

{% block main_content %}
<h2 class="text-center">Užsakymai</h2>
<div class="auction-list">
    {% for auction in auctions %}
        <div class="card auction-item">
            <img src="{{ auction.images.first.image.url }}" class="card-img-top" alt="{{ auction.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ auction.title }}</h5>
                <p class="card-text">Esamas Bid: {{ auction.current_bid }}</p>
                <a href="{% url 'auction_details' auction.id %}" class="btn btn-primary">Peržiūrėti Užsakymą</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}