{% load i18n static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '32x32.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static '192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static '512x512.png' %}">
    <link rel="apple-touch-icon" href="{% static 'icon.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block stylesheet %}<link rel="stylesheet" href="{% static 'admin/css/base.css' %}">{% endblock %}
    {% block dark-mode-vars %}
        <link rel="stylesheet" href="{% static 'admin/css/dark_mode.css' %}">
        <script src="{% static 'admin/js/theme.js' %}"></script>
    {% endblock %}
    {% if not is_popup and is_nav_sidebar_enabled %}
        <link rel="stylesheet" href="{% static 'admin/css/nav_sidebar.css' %}">
        <script src="{% static 'admin/js/nav_sidebar.js' %}" defer></script>
    {% endif %}
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" href="{% block stylesheet_rtl %}<link rel="stylesheet" href="{% static 'admin/css/rtl.css' %}">{% endblock %}">
    {% endif %}
    {% block extrahead %}{% endblock %}
    {% block responsive %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'admin/css/responsive.css' %}">
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" href="{% static 'admin/css/responsive_rtl.css' %}">
        {% endif %}
    {% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now 'Z' %}">
<a href="#content-start" class="skip-to-content-link">{% translate 'Skip to main content' %}</a>
<!-- Container -->
<div id="container">
    {% if not is_popup %}
    <!-- Header -->
    {% block header %}
      <header id="header">
        <div id="branding">
          {% block branding %}{% endblock %}
        </div>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>Welcome, {{ user.username }}!</li>
                    <li><a href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
