{% extends "bidding/base.html" %}
{% load static %}

{% block title %}Patvirtinti Laimėtoją{% endblock %}

{% block content %}
<div class="container">
    <h1>Patvirtinti Laimėtoją</h1>
    <p>Sveikiname! Jūs laimėjote aukcioną "{{ auction.title }}."</p>
    <p>Norėdami užbaigti sandorį, prašome pervesti 2% mokesčio sumą {{ auction.current_bid * 0.02 }} į šią banko sąskaitą:</p>
    <p>
        <strong>Banko pavadinimas:</strong> Swedbank<br>
        <strong>Sąskaitos numeris:</strong> 137714648<br>
        <strong>IBAN:</strong> LT327300010137714648<br>
        <strong>Sąskaitos savininkas:</strong> Vitalijus Poplavskis
    </p>
    <p>Po apmokėjimo prašome patvirtinti sandorį naudojant žemiau esančią formą:</p>
    <form method="post" action="{% url 'confirm_payment' auction.id %}">
        {% csrf_token %}
        <button type="submit">Apmokėjau</button>
    </form>
</div>
{% endblock %}
