{% extends "bidding/base.html" %}
{% load static %}

{% block title %}Lėšų rinkimo akcija{% endblock %}

{% block content %}
<div class="container">
    <h1>Lėšų rinkimo akcija</h1>
    <p>Prisidėkite prie mūsų lėšų rinkimo akcijos, skirtos remti mūsų veiklą ir projektus. Jūsų parama yra labai svarbi!</p>
    <p>Norėdami paaukoti, galite pasirinkti vieną iš šių būdų:</p>

    <h2>Banko Pervedimas</h2>
    <p>
        <strong>Banko pavadinimas:</strong> Swedbank<br>
        <strong>IBAN:</strong> LT327300010137714648<br>
        <strong>Sąskaitos savininkas:</strong> Vitalijus Poplavskis
    </p>

    <h2>Apmokėjimas Telefono Numeriu</h2>
    <p>
        <strong>Telefono numeris:</strong> +37063896034<br>
        <strong>Paskirtis:</strong> Parama<br>
        Šis numeris yra susietas su aukščiau nurodyta banko sąskaita.
    </p>
</div>
{% endblock %}
