from django.shortcuts import render, redirect
from django.urls import reverse
from django.utils import timezone
from datetime import timedelta
from .forms import OrderForm, AuctionImageFormSet
from .models import UserProfile, Auction

def order_post_view(request):
    if request.method == 'POST':
        form = OrderForm(request.POST, request.FILES)
        formset = AuctionImageFormSet(request.POST, request.FILES)
        if form.is_valid() and formset.is_valid():
            order = form.save()
            user_profile = UserProfile.objects.get(user=request.user)
            auction = Auction(
                title=order.name,
                description=order.description,
                starting_bid=order.price,
                current_bid=order.price,
                price=order.price,
                end_date=timezone.now() + timedelta(days=7),
                seller=user_profile
            )
            auction.save()
            formset.instance = auction
            formset.save()
            return redirect('order_post_success')
    else:
        form = OrderForm()
        formset = AuctionImageFormSet()
    return render(request, 'bidding/post_offer.html', {
        'form': form,
        'formset': formset,
        'form_title': 'Jetzt Auftrag einstellen',
        'form_description': 'Dalyvio mokestis – piniginis Aukciono dalyvio įnašas...',
        'form_action': reverse('order_post_view'),
        'form_button': 'Auftrag einstellen'
    })
