{% extends "bidding/base.html" %}
{% load static %}

{% block title %}Paskelbti užsakymą{% endblock %}

{% block extrastyle %}
<style>
    .container {
        max-width: 600px;
        margin: 50px auto;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .container h1 {
        margin-bottom: 20px;
        color: #333;
    }
    .container p {
        color: #666;
        margin-bottom: 20px;
    }
    .container form {
        display: flex;
        flex-direction: column;
    }
    .container form input,
    .container form select,
    .container form textarea {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
    }
    .container form button {
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .container form button:hover {
        background-color: #0056b3;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Paskelbti Užsakymą</h1>
    <p>Aprašykite reikalingus atlikti darbus</p>
    <form method="post" enctype="multipart/form-data" action="{% url 'post_auction' %}">
        {% csrf_token %}
        {{ service_form.non_field_errors }}
        {{ service_form.as_p }}
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.as_p }}
        {% endfor %}
        <button type="submit">Pateikti Užsakymą</button>
    </form>
    {% if errors %}
        <ul class="errorlist">
            {% for field, error in errors.items %}
                <li>{{ field }}: {{ error|join:", " }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
