{% extends "bidding/base.html" %}
{% load static %}

{% block title %}Registruotis{% endblock %}

{% block content %}
        <h1>Registruotis</h1>
        <form method="post" enctype="multipart/form-data" action="{% url 'register' %}"> <!-- Ensure this matches the new function name -->
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            {{ image_formset.management_form }}
            {{ image_formset.as_p }}
            <button type="submit">Registruotis</button>
        </form>
{% endblock %}
